@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h6>Hi</h6>

Welcome to your new app.
In this web application you can send your Petitions1

<SurveyPrompt Title="How is Blazor working for you?"/>